<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="open_rviz" default="true"/>
  <arg name="map_file" default="$(find ros_world)/maps/ma_carte.yaml"/> <!-- Ajoutez cette ligne -->
  <arg name="move_forward_only" default="false"/>
  <arg name="planning_type" default="path"/>
  <arg name="algorithm" default="astar"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/> <!-- Changez de "odom" à "map" -->
  </node>

  <!-- Static TF between map and odom -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" 
        args="0 0 0 0 0 0 map odom"/>

  <!-- RViz -->
  <node if="$(arg open_rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find global_path_planning)/rviz/turtlebot3_ros_world.rviz"/>

  <!-- move_base -->
  <include file="$(find global_path_planning)/launch/turtlebot3_ros_world/move_base.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- Planification -->
  <group if="$(eval planning_type == 'path')">
    <node pkg="global_path_planning" name="path_planner" type="path_planning_server.py" output="screen">
      <param name="algorithm" value="$(arg algorithm)"/>
    </node>
  </group>

  <group if="$(eval planning_type == 'motion')">
    <node pkg="global_path_planning" name="motion_planner" type="motion_planning_server.py" output="screen">
      <param name="algorithm" value="$(arg algorithm)"/>
    </node>
  </group>
</launch>